# Extracting features from text

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
import pandas as pd      #for table

In [3]:
texts=['good movie','not a good movie','did not like','i like it','good one','i take','it is']

In [4]:
tfidf=TfidfVectorizer(min_df=2,max_df=0.5,ngram_range=(1,2))

In [5]:
features=tfidf.fit_transform(texts)

In [6]:
pd.DataFrame(features.todense(),columns=tfidf.get_feature_names())

       good  good movie        it      like     movie       not
0  0.517269    0.605158  0.000000  0.000000  0.605158  0.000000
1  0.442544    0.517737  0.000000  0.000000  0.517737  0.517737
2  0.000000    0.000000  0.000000  0.707107  0.000000  0.707107
3  0.000000    0.000000  0.707107  0.707107  0.000000  0.000000
4  1.000000    0.000000  0.000000  0.000000  0.000000  0.000000
5  0.000000    0.000000  0.000000  0.000000  0.000000  0.000000
6  0.000000    0.000000  1.000000  0.000000  0.000000  0.000000